.ipynb_checkpoints/
MNIST/
runs/
autoencoder/.ipynb_checkpoints/
autoencoder/MNIST/
autoencoder/best_model.pth
face_recognition/best_models/
face_recognition/data/
face_recognition/libs/
face_recognition/logs/
References/
GANs/best_models/
cloudiness estimation/logs/
cloudiness estimation/best_models/
autoencoders/
tensorboard test/
